.login-container {
  min-height: 100vh;
  padding-top: 60px; /* Para evitar que el navbar lo tape */
}

.login-card {
  min-width: 300px;
  width: 100%;
  max-width: 400px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn-primary {
  background-color: #007bff;
}

.btn-danger {
  background-color: #dc3545;
}
