.Navbar__icono{
    height: 50px;
    width: 50px;
}

.nav-link{
   
    font-weight: bold;
    font-size: 20px;
    color: red;
    font-family: 'Times New Roman', Times, serif;
}
.nav-link svg{
    font-size: 40px;
}
.nav-link:hover {
    color: rgb(125, 139, 0) !important;
}

