#list-pedidos {
    margin: auto;
    
    #lista {
        text-align: center;
        margin-bottom: 20px;
        background: #951212;
        border-radius: 30px;
        color: #fff;
        padding: 10px;
        font-family:'Times New Roman', Times, serif;
    }
    .table-responsive {
        overflow-x: auto;
        border-radius: 20px;
        background: greenyellow;
        padding: 10px;
        
        .table {
            width: 100%;
            max-width: 1200px;
            min-width: 100%;
            border-collapse: collapse;
            border-spacing: 0;
            white-space: nowrap;
            font-size: 14px;
            
            @media (max-width: 768px) {
                font-size: 12px;
                
                th, td {
                    padding: 8px 5px;
                }
            }
            
            border: 1px solid #070707;


            thead {
                
                tr {
                    th {
                        color: #c31717;
                        background: black;
                        padding: 10px;
                        
                        font-family: Georgia, 'Times New Roman', Times, serif;
                    }
                }
            }
            tbody {
                background-color: #951212;
                tr {
                    td {
                        color: #000000;
                        background: rgb(255, 255, 255);
                        font-family: Georgia, 'Times New Roman', Times, serif;
                    }
                }
            }
            
            
        }
    }
}