.container {
    #lista {
        text-align: center;
        margin-bottom: 20px;
        background: #951212;
        border-radius: 30px;
        color: #fff;
        padding: 10px;
        font-family:'Times New Roman', Times, serif;
    }
    .table-responsive {
        overflow-x: auto;
        border-radius: 20px;
        

        .table {
            width: 100%;
            max-width: 1200px;
            margin: 0 auto;
            border-collapse: collapse;
            border-spacing: 0;
            
            border: 1px solid #070707;


            thead {
                
                tr {
                    th {
                        color: #c31717;
                        background: black;
                        padding: 10px;
                        
                        font-family: Georgia, 'Times New Roman', Times, serif;
                    }
                }
            }
            tbody {
                background-color: #951212;
                tr {
                    td {
                        color: #000000;
                        background: rgb(255, 255, 255);
                        font-family: Georgia, 'Times New Roman', Times, serif;
                    }
                }
            }
            
            
        }
    }
}