.container {
    #lista {
        text-align: center;
        margin-bottom: 20px;
        background: #951212;
        border-radius: 30px;
        color: #fff;
        padding: 10px;
        font-family:'Times New Roman', Times, serif;
    }
    .table-responsive {
        overflow-x: auto;

        .table {
            width: 100%;
            max-width: 1200px;
            margin: 0 auto;
            border-collapse: collapse;
            border-spacing: 0;
            border: 1px solid #ddd;
        }
    }
}