.login-container {

    .login-card {

        min-width: 330px;
        width: 100%;
        max-width: 400px;
        border-radius: 30px;
        padding: 20px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .btn-primary {
        background-color: #007bff;
    }

    .btn-danger {
        background-color: #dc3545;
    }
}