.Navbar{
    
    
    justify-content: space-between;
    align-items: center;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
    .navbar-toggler{
        background-color: yellow;
        border-radius: 10px;
        border: 3px solid #4ea60fc9;
        .navbar-toggler-icon{
            color: #1711c2c9;
            
        }
    }
    
    .Navbar__icono{
        width: 50px;
        height: 50px;
        margin-left: 30px;
    }
    .Navbar__links{
        align-items: center;
        margin: auto;
        .nav-link{
            text-decoration: none;
            color: rgb(194, 195, 158);
            font-size: 20px;
            font-family: "Gabriela", serif;
            font-weight: 400;
            font-style: normal;
            margin: 1px;
            padding: 5px 15px;
            background-image: linear-gradient(transparent 0%, transparent 90%, #12aa77c9 90%, #12aa77c9 100%);
            background-repeat: no-repeat;
            background-size: 0% 100%;
            background-position: right;
            transition: background-size 300ms;
        }
    }
    .Navbar__links a:hover{
        background-size: 100% 100%;
        background-position: left;
    }
    
    #login{
        font-size: 30px;
    }
}